body{
    display:flex;
    justify-content: center;
    align-content: center;
    padding: 5rem;
   
    flex-wrap: wrap;
    /* padding-left: 15rem; */
   background-color: #002B5B;
    /* background-image: url("https://upload.wikimedia.org/wikipedia/en/c/c6/Jesse_Pinkman_S5B.png"); */

}

.container{
    align-self: center;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
  
    /* align-items: center; */
}

.card{
    border-radius: 5px;
    height: 30%;
    width: 17rem;
    display: flex;
    flex-direction: column;
    background-color: #0B2447;
    color:aliceblue;

}

.imagediv1{
    /* border: 2px solid black; */
    border-radius: 5px;
    height:15rem;
    width: 17rem;
    background-position: center;
    background-image: url("https://upload.wikimedia.org/wikipedia/en/c/c6/Jesse_Pinkman_S5B.png");
}



.imagediv2{
    /* border: 2px solid black; */
    border-radius: 5px;
    height:15rem;
    width: 17rem;
    background-position: center;
    background-image: url("https://upload.wikimedia.org/wikipedia/en/0/03/Walter_White_S5B.png");
}


.imagediv3{
    /* border: 2px solid black; */
    border-radius: 5px;
    height:15rem;
    width: 17rem;
    background-position: center;
    background-image: url("https://upload.wikimedia.org/wikipedia/en/d/db/Hank_Schrader_S5B.png");
}


.carddetails{
    opacity: 70%;
    display: flex;
    flex-direction: column;
    /* gap: 0.5rem;; */
}
.cardfooter{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.cardposition, .previously{
    opacity: 50%;
}

.card4{
    border: 2px solid black;
    border-radius: 5px;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 24rem;
    width: 17rem;
}


h3{
    opacity:50%;
}

.fa-apple, .fa-uber, .fa-google{
    font-size: 30px;
    width:15rem;
}
